<app-navbar></app-navbar>
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-4">¡Hola, APIs!</h1>
        <p class="lead">¿Te has cansado de los datos Lorem ipsum?
            Con DummyJSON, lo que obtienes son diferentes tipos de REST Endpoints llenos de datos JSON que puedes utilizar en el desarrollo del frontend con tu framework y librería favorita sin preocuparte de escribir un backend.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" routerLink="Api/Productos" role="button">Api - Productos</a>
        </p>
    </div>
</div>
